.task{
    border: 2px solid rgb(121, 121, 121);
    padding: 1rem;
    margin-block-end: 1rem;
}
.high-prio{
    border-left: 6px solid rgb(255, 0, 98);
}

.high-priority{
    border-left: 6px solid rgb(255, 0, 98);
}

.medium-prio{
    border-left: 6px solid rgb(0, 10, 148);
}

.low-prio{
    border-left: 6px solid rgb(0, 145, 65);
}

.task-desc{
  color: black;
}

.completed{
  /* border: solid 6px green; */
  
}

#error-message{
  color: red;
}


.invalid-input{
  border-color: red;
}

.undo-button{
  color: green;
}

.task.completed{
  
  
  p, h3{
    position: relative;
    opacity: 0.6;
    text-decoration: line-through;
  }
}

.task-desc{
  background: blue;
  padding: 0.5rem;
  color: red;
  width:fit-content;
}
/* ///////////////////////////////////////////////////// */

.task-form{
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: auto;
  

  text-align: center;
}

.task-wrapper{
  max-width: 100rem;
  margin:auto;
}

.task-input {
  width: 90%;
  
}

#priority-input{
  width: 100%;
}

/* 
table {
  border-collapse: collapse;
  margin-top: 2em;
}
thead {
  font-weight: bold;
}
td {
  padding: 2px 10px;
}

.odd {
  background-color: #efdfef;
}
.even {
  background-color: white;
} */